/* learningMode.css */

.content-above-flashcard{
    display: flex;
    flex-direction: row;
    width: 100%;
}

#learnMode-h1{
    text-align: center;
    color: var(--primary-color);
    font-size: 3rem;

}
.learn-mode-heading{
    text-align: center;
    margin-bottom: 5rem;
    flex: 1;
}
.end-button{
    text-align: center;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.end-button:hover{
    cursor: pointer;
    transform: scale(1.1);

}

.end-button-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    padding: 1rem;
    flex: 1;
}


.flashcard {
    width: 50vw;
    height: 40vh;
    background-color: var(--background-color2);
    border-radius: 20px;
    box-shadow: 5px 5px 15px var(--boxShadow);
    display: flex;
    justify-content: center;
    align-items: stretch;
    padding: 10px 10px;

    position: relative;
    transition: transform 0.5s;
    transform-style: preserve-3d;
}

.flashcard.flipped {
    transform: rotateY(180deg);
}

.flashcard-container {
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
}
.flashcardFront,
.flashcardBack {
    position: absolute;
    width: inherit;
    height: inherit;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;


    border-radius: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-color);

}
.flashcardBack {
    transform: rotateY(180deg);
}

.userContent{
    color: var(--background-color1);
    font-size: 3rem;
    font-weight: bold;
}

.learning-mode-window-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.5rem;
    align-items: center;
}

.arrow-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow {
    background-color: var(--background-color2);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.arrow:hover {
   transform: scale(1.1);
    box-shadow: 0 4px 8px var(--boxShadow);
}

.arrow-svg {
    width: 24px;
    height: 24px;
    stroke: var(--secondary-color);
    stroke-width: 2;
    fill: none;
}

.content-below-flashcard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.counter{
    color: var(--primary-color);
    font-size: 1.2rem;
}

.baseButtonLayout{
    border: var(--background-color1);
    border-radius: 15px;
    font-size: 1.2rem;
    padding: 0.2rem 2rem;
    box-shadow: 5px 5px 15px var(--boxShadow);

}
.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}
.baseButtonLayout:hover{
    box-shadow: 5px 5px 15px var(--blackBackground);
    transform: scale(1.1);
}

