/* login.css */

.login-container {
    background: var(--grayBackground);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 3rem 5rem;
    display: inline-block;
    text-align: center;
}

.login-container h2 {
    margin-bottom: 1rem;
    text-align: center;
}

.input-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
    text-align: left;
}

.input-group label {
    display: block;
    text-align: left;
    font-size: 0.9rem;
    color: var(--primary-color);
    margin-bottom: 5px;
    width: 100%;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--text-color);
    border-radius: 5px;
    font-size: 1rem;
    transition: border 0.3s;
}

.input-group input:focus {
    border-color: var(--primary-color);
    outline: none;
}

.login-button {
    width: 70%;
    height : 3rem;
    padding: 10px;
}

.register-button {
    width: 70%;
    height : 3rem;
    padding: 10px;
}

.forgot-password {
    display: block;
    margin-top: 10px;
    font-size: 0.9rem;
    border-color: var(--primary-color);
    text-decoration: none;
}

.forgot-password:hover {
    text-decoration: underline;
}

.login-register-buttons{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
