.nav-bar {
    display: flex;
    gap: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: var(--sidebarBackground);
    padding: 1rem;
    z-index: 50;
}

.nav-bar a {
    color: var(--primary-color);
    text-decoration: none;
}