/* startScreen.css */
/* Reset and Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    text-align: center;
}

/* Logo Styling */
.logo-container {
    margin-bottom: 2rem;
}

.logo {
    max-width: 20%;
    height: auto;
}

/* Main Content */
.main-content {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 5%;
    display: inline-block;
    text-align: center;
}

.title {
    font-size: 6vw;
    color: #FFF;
    margin-bottom: 10%;
}

/* Buttons */
.button-group {
    display: flex;
    justify-content: center;
    gap: 10%;
    margin-top: 5%;
    flex-direction: column; /* Stack buttons on small screens */
}
.button {
    width: 20%;
    height: 3rem;
}


/* Media Query for larger screens */
@media (min-width: 600px) {
    .button-group {
        flex-direction: row; /* Make buttons horizontal on larger screens */
        gap: 5%;
    }

    .button {
        width: 20%;
    }

    .title {
        font-size: 3vw;  /* Adjust title size for larger screens */
    }
}
