
/* Reset and Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom right, #021C1E, #004445);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.container {
    text-align: center;
}

/* Logo Styling */
.logo-container {
    margin-bottom: 1rem;
}

/* Logo Styling */
.logo-container {
    margin-bottom: 2rem;
}

.logo {
    max-width: 20%;
    height: auto;
}

/* Main Content */
.main-content {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 5%;
    display: inline-block;
    text-align: center;
}

.title {
    font-size: 6vw;
    color: #FFF;
    margin-bottom: 10%;
}

/* Buttons */
.button-group {
    display: flex;
    justify-content: center;
    gap: 10%;
    margin-top: 5%;
    flex-direction: column; /* Stack buttons on small screens */
}

.button {
    display: flex;
    justify-content: center; /*centers the text*/
    align-items: center; /*centers the text*/
    padding: 5% 5%;
    background: #6FB98F;
    color: #021C1E;
    border: none;
    border-radius: 10px;
    font-size: 100%;
    text-decoration: none;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
    width: 100%;
    min-width: 200px;  /* Ensures buttons are not too small */
    text-align: center;
}

.button:hover {
    background: #2C7873;
    color: white;
}

.login-button {
    background: #6FB98F;
}

.guest-button {
    background: #6FB98F;
}

/* Media Query for larger screens */
@media (min-width: 600px) {
    .button-group {
        flex-direction: row; /* Make buttons horizontal on larger screens */
        gap: 5%;
    }

    .button {
        width: 20%;
    }

    .title {
        font-size: 3vw;  /* Adjust title size for larger screens */
    }
}
