.desktop-3,
.desktop-3 * {
    box-sizing: border-box;
}
.desktop-3 {
    display: flex;
    flex-direction: column;
    align-items: start;
    background: linear-gradient(to bottom right, #021C1E, #004445);

    height: 100vh;

}
.Brainpop-Logo{
    display: flex;
    top: 5%;
    right:5%;
    position: absolute;
    width: 10%;
    height: auto;
}
.add {
    width: 6%;
    height: auto;
    position: absolute;
    right: 5%;
    bottom: 5%;
    object-fit: cover;
}
.brainpop_Title {
    color: #6FB98F;
    text-align: left;
    font-family: "Bayon-Regular", sans-serif;
    font-size: 6rem;
    font-weight: 400;
    position: absolute;
    left: 10%;
    top: 5%;
    width: 770px;
    height: 98px;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.toggleContainer {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    border: 3px solid #343434;
    border-radius: 20px;
    background: #343434;
    font-weight: bold;
    color: #343434;
    cursor: pointer;


}
.toggleContainer::before {
    content: '';
    position: absolute;
    width: 50%;
    height: 100%;
    left: 0;
    border-radius:20px;
    background: #6fB98F;
    transition: all 0.3s;
}
.toggleCheckbox:checked + .toggleContainer::before {
    left: 50%;
}
.toggleContainer div {
    font-family: "Bayon-Regular", sans-serif;
    padding: 6px;
    text-align: center;
    z-index: 1;
}
.toggleCheckbox {
    display: none;
}
.toggleCheckbox:checked + .toggleContainer div:first-child{
    color: #6fB98F;
    transition: color 0.3s;
}
.toggleCheckbox:checked + .toggleContainer div:last-child{
    color: #343434;
    transition: color 0.3s;
}
.toggleCheckbox + .toggleContainer div:first-child{
    color: #343434;
    transition: color 0.3s;
}
.toggleCheckbox + .toggleContainer div:last-child{
    color: #6fB98F;
    transition: color 0.3s;
}

.modal {
    background: #2C7873;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    position: relative;
}
.modal h2{
    font-family: "Bayon-Regular", sans-serif;
    color: white;
}

.modal-buttons {
    position: absolute;
    bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    gap: 30%;
}
.context-menu {
    position: absolute;
    background: #2C7873;
    border: 1px solid #6FB98F;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    display: flex;
    flex-direction: column;
}

.context-menu button {
    background: #343434;
    border: none;
    color: #6FB98F;
    font-weight: bold;
    padding: 10px;
    width: 100%;
    text-align: left;
    cursor: pointer;
    transition: background 0.3s ease, color 0.3s ease;
}

.context-menu button:hover {
    background: #6FB98F;
    color: #021C1E;
}

.name {
    font-family: "Bayon-Regular", sans-serif;
    color: #343434;
}

.confirm-button, .cancel-button {
    font-family: "Bayon-Regular", sans-serif;
    width: 20%;
    padding: 10px;
    cursor: pointer;
    background: #343434;
    color: #6fB98F;
    border: none;
    border-radius: 10px;
    transition: background-color 0.3s, color 0.3s;
}

.confirm-button:hover, .cancel-button:hover {
    background-color: #6FB98F;
    color: #021C1E;
}

.item-container {
    position: absolute;
    text-align: center;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}

.item-icon {
    width: 9%;
    height: auto;
}
.item-container:hover{
    transform: scale(1.05);
}


.item-text {
    color: #ffffff;
    font-family: "Bayon-Regular", sans-serif;
    font-size: 1em;
    font-weight: 400;
    margin-top: 5px;
}



